/*----------------------------------------
[Master Stylesheet]

Project:	BuyCoin
Version:	2.0
Primary use:	BuyCoin HTML Template
----------------------------------------*/

/*----------------------------------------
[Table of contents]

1. Common styles
2. Header
3. Home
4. Section
5. About
6. Info
7. Boxes
	7.1 Box style 1
	7.2 Box style 2
	7.3 Box style 3
	7.4 Box style 4
	7.5 Box style 5
	7.6 Box style 6
8. Tabs
9. Offers
10. Forms
11. Contacts
12. Video
13. Partners
14. Subscribe
15. Ticker
16. Team
17. Counter
18. Article
19. Roadmap
20. Footer
21. Modal
----------------------------------------*/

$white = #fff
$black = #000

$title-color = #343434
$text-color = #505050

$clr1 = #647DEE
$clr2 = #a754e2

/*==============================
	Fonts
==============================*/
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600;700&family=Roboto:wght@300;400;500&display=swap')

/*==============================
	Common styles
==============================*/
html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
html
body
	height 100%
body
	font-family 'Roboto', sans-serif
	font-weight 400
	background-color $white
	-webkit-font-smoothing antialiased
button
	padding 0
	border none
	background-color transparent
	border-radius 0
	transition .4s ease
	&:focus
		outline none
a
	transition .4s ease
	&:hover
	&:active
	&:focus
		outline none
		text-decoration none
input
textarea
select
	padding 0
	margin 0
	border-radius 0
	-webkit-appearance none
	-moz-appearance none
	appearance none
	box-shadow none
	transition .4s ease
	&:focus
		outline none

select::-ms-expand
	display none

ul
	margin 0
	padding 0
	list-style none

::-moz-selection
	background $white
	color $clr1
	text-shadow none
::selection
	background $white
	color $clr1
	text-shadow none

::-webkit-input-placeholder
	color $text-color
	opacity 1
::-moz-placeholder
	color $text-color
	opacity 1
:-moz-placeholder
	color $text-color
	opacity 1
:-ms-input-placeholder
	color $text-color
	opacity 1

.owl-carousel .owl-item img
	width auto
	max-width 100%

.tab-content > .tab-pane
	display none

.tab-content > .active
	display block

.fade
	transition opacity .4s linear

@media screen and (prefers-reduced-motion: reduce)
	.fade
		transition none

.fade:not(.show)
	opacity 0

.collapse:not(.show)
	display none

.collapsing
	position relative
	height 0
	overflow hidden
	transition height .4s ease

@media screen and (prefers-reduced-motion: reduce)
	.collapsing
		transition none

[data-parallax]
	background transparent

.progress
	display flex
	flex-direction row
	justify-content flex-start
	width 100%
	height 40px
	background-color $white
	border-radius 20px
	margin-bottom 30px
	margin-top 50px
	max-width 500px
	position relative
	&__value
		display flex
		flex-direction row
		justify-content center
		align-items center
		height 40px
		width auto
		margin-left auto
		margin-right 20px
		background-image -webkit-linear-gradient( 0deg, $clr1 0%, $clr2 100% )
		-webkit-background-clip text
		-webkit-text-fill-color transparent
		color $clr1
		font-size 14px
		font-weight 500
		position relative
		z-index 2
	&__line
		position absolute
		display flex
		flex-direction row
		justify-content flex-start
		align-items flex-start
		pointer-events none
		top -30px
		bottom 0
		z-index 2
		font-size 14px
		color $white
		svg
			width 18px
			height 20px
			margin-right 5px
			stroke #29b474
			margin-left -9px
		&:before
			content ''
			position absolute
			display block
			bottom 0
			left 0
			top 25px
			background-color rgba($white, .15)
			width 1px
			border-radius 2px
	&--small
		background linear-gradient( 90deg, rgba($clr1, .05) 0%, rgba($clr2, .05) 100% )
		border 2px solid $clr1
		.progress__value
			font-size 12px
			height 38px
			margin-right 15px
		.progress__line
			color $text-color
			font-size 12px
			top -25px
			svg
				width 16px
				height 18px
				margin-left -8px
			&:before
				background-color rgba($black, .12)
				top 19px

.progress-bar
	display flex
	flex-direction column
	justify-content center
	overflow hidden
	text-align center
	white-space nowrap
	background-color $clr1
	border-radius 20px
	transition width .6s ease
	background-image linear-gradient(-45deg, rgba($black, .15) 25%, transparent 25%, transparent 50%, rgba($black, .15) 50%, rgba($black, .15) 75%, transparent 75%, transparent)
	background-size 100px 100px
	-webkit-animation progress-bar-stripes 4s linear infinite
	animation progress-bar-stripes 4s linear infinite
	
@-webkit-keyframes progress-bar-stripes
	from {
		background-position 0 0
	}
	to {
		background-position 100px 0
	}

@keyframes progress-bar-stripes
	from {
		background-position 0 0
	}
	to {
		background-position 100px 0
	}

/*==============================
	Header
==============================*/
.header
	position fixed
	width 100%
	top 0
	left 0
	z-index 9
	background-color transparent
	&:before
		content ''
		position absolute
		z-index -1
		display block
		width 100%
		left 0
		top 0
		height 0
		background-color transparent
		transition .4s ease
		pointer-events none
		box-shadow none
	&--active
		.header__btn
			span
				background-color $title-color
		.header__logo-white
			opacity 0
		.header__logo-dark
			opacity 1
		.header__logo
			pointer-events auto
		&:before
			height 60px
			background-color $white
			box-shadow 2px 0 9px rgba($black, .26)
	&__content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		position relative
		height 60px
		width 100%
	&__logo
		z-index 1
		width auto
		height 44px
		display inline-block
		position relative
		margin 0 0 0 40px
		pointer-events none
		img
			height 44px
			width auto
	&__logo-white
		position relative
		opacity 1
		transition .4s ease
	&__logo-dark
		position absolute
		top 0
		left 0
		opacity 0
		transition .4s ease
	&__btn
		position absolute
		width 24px
		height 22px
		display block
		left 0
		span
			position absolute
			left 0
			width 24px
			height 2px
			background-color $white
			border-radius 3px
			transition .5s
			opacity 1
			&:first-child
				top 0
			&:nth-child(2)
				top 10px
				width 16px
			&:last-child
				top 20px
				width 8px
		&--active
			span
				&:first-child
					transform rotate(45deg)
					top 10px
				&:nth-child(2)
					opacity 0
				&:last-child
					width 24px
					transform rotate(-45deg)
					top 10px
	&__tagline
		display none
	&__nav
		position fixed
		width 260px
		top 60px
		bottom 0
		left 0
		background-color #212121
		padding 35px 15px 0
		transition .4s ease
		transform translate3d(-260px, 0, 0)
		&--active
			transform translate3d(0, 0, 0)
		li
			display block
			margin-bottom 25px
			&:last-child
				margin-bottom 0
			&.active
				a
					color $clr2
		a
			display inline-block
			font-size 14px
			line-height 24px
			font-weight 400
			color $white
			text-transform uppercase
			&:hover
				color $clr1
	&__dropdown
		position relative
		display block
		width auto
		.dropdown-toggle
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			svg
				width 12px
				height auto
				stroke $white
				margin-left 5px
				transition .4s ease
			&:hover
				svg
					stroke $clr1
	&__dropdown-menu
		position absolute
		background-color $white
		padding 15px 20px
		display block
		width 180px
		text-align left
		z-index -1
		pointer-events none
		opacity 0
		border-radius 6px
		transition .4s ease
		margin-top 0
		top 0
		box-shadow 2px 0 9px rgba($black, .26)
		li
			padding 0
			margin-bottom 10px
			&:last-child
				margin-bottom 0
		a
			font-size 16px
			line-height 26px
			color $title-color
			text-transform none
			&:hover
				color $clr1
		&.show
			z-index 1000
			pointer-events auto
			opacity 1
			margin-top 10px
	&__signin
		display flex
		flex-direction row
		justify-content center
		align-items center
		position relative
		height 44px
		border-radius 22px
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		color $white
		font-size 14px
		font-weight 500
		letter-spacing .4px
		text-transform uppercase
		padding 0 25px
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		span
			position relative
			z-index 2
		&:hover
			color $white
			&:before
				opacity 1
	@media (min-width: 576px)
		&__tagline
			display block
			line-height 21px
			color $white
			font-size 14px
			transition .4s ease
			margin-right auto
			margin-left 15px
			font-family 'Jura', sans-serif
			font-weight 600
		&--active
			.header__tagline
				color $text-color
	@media (min-width: 1200px)
		&__btn
			display none
		&__content
			height 70px
		&__logo
			margin 0
		&__nav
			position relative
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			background-color transparent
			top auto
			bottom auto
			left auto
			right auto
			width auto
			transform translate3d(0, 0, 0)
			padding 0
			margin-right auto
			li
				display block
				margin-right 50px
				margin-bottom 0
				&:last-child
					margin-right 0
			a
				display flex
				flex-direction row
				justify-content center
				align-items center
				height 40px
				color $white
				font-size 16px
				font-weight 400
				text-transform none
				&:hover
					color $clr1
		&__dropdown-menu
			li
				margin-right 0
			a
				color $title-color
				justify-content flex-start
				&:hover
					color $clr1
			&.show
				margin-top 0
		&--active
			&:before
				height 70px
			.header__nav
				a
					color $title-color
					&:hover
						color $clr1
			.header__dropdown
				.dropdown-toggle
					svg
						stroke $title-color
					&:hover
						svg
							stroke $clr1

/*==============================
	Home
==============================*/
.home
	display block
	position relative
	&:after
		content ''
		position absolute
		display block
		left 0
		top 0
		right 0
		bottom 0
		z-index 1
		background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		opacity .4
	&__slider
		display block
		position absolute
		z-index 1
		width 100%
		.item
			position relative
			height 100vh
			overflow hidden
	&__content
		display flex
		flex-direction column
		justify-content center
		align-items center
		flex-wrap wrap
		width 100%
		height 100vh
		position relative
		z-index 2
		&--left
			height auto
			padding 120px 0 25px
		&--right
			height auto
			padding 25px 0 100px
	&__title
		display block
		width 100%
		text-align center
		color $white
		font-family 'Jura', sans-serif
		font-weight 700
		font-size 36px
		line-height 150%
		margin-bottom 20px
	&__text
		display block
		width 100%
		text-align center
		color $white
		font-size 18px
		line-height 26px
		font-weight 600
		margin 0 0 30px
		font-family 'Jura', sans-serif
	&__btns
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 100%
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		margin 25px 10px 0
		width 170px
		height 50px
		font-size 14px
		font-weight 500
		border-radius 25px
		letter-spacing .4px
		position relative
		color $white
		text-align center
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		text-transform uppercase
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		span
			position relative
			z-index 2
		&:hover
			color $white
			&:before
				opacity 1
		&--white
			background $white
			color $clr1
			&:hover
				background-color $clr1
				color $white
	&__sales
		position relative
		display block
		background-color $white
		padding 20px
		border-radius 20px
		width 100%
		&:before
		&:after
			content ''
			position absolute
			display block
			opacity .2
			background-image linear-gradient( -60deg, $clr1 0%, $clr2 100% )
			border-radius 0 0 10px 10px
			transition .4s ease
		&:before
			z-index 2
			left 20px
			right 20px
			height 10px
			bottom -10px
		&:after
			z-index 1
			left 30px
			right 30px
			height 20px
			bottom -20px
		h3
			font-size 36px
			display block
			width 100%
			text-align center
			color $title-color
			font-family 'Jura', sans-serif
			font-weight 700
			margin-bottom 15px
		p
			font-size 16px
			line-height 26px
			color $text-color
			margin-bottom 20px
			text-align center
		.section__btn
			margin-top 0
		ul
			display flex
			flex-direction row
			justify-content center
			align-items center
			width 100%
			margin-top 20px
			color rgba($clr1, .4)
			font-size 22px
			li
				margin-right 20px
				&:last-child
					margin-right 0
	@media (min-width: 576px)
		&__title
			font-size 42px
		&__text
			font-size 20px
			margin 0 0 50px
		&__btn
			margin 0 15px
		&__sales
			padding 30px
	@media (min-width: 768px)
		&__title
			font-size 46px
		&__text
			margin 0 0 70px
		&__content
			&--left
				height auto
				padding 200px 0 50px
			&--right
				height auto
				padding 50px 0 100px
	@media (min-width: 1200px)
		&__title
			font-size 56px
		&__text
			font-size 24px
		&__btn
			margin 0 20px
		&__content
			&--left
				height 100vh
				padding 0
				align-items flex-start
				.home__title
				.home__text
					text-align left
				.home__btns
					justify-content flex-start
					.home__btn
						&:first-child
							margin-left 0
			&--right
				height 100vh
				padding 0
		&__sales
			padding 40px 60px
		
/*==============================
	Section
==============================*/
.section
	position relative
	padding 50px 0
	&__title
		font-size 32px
		color $title-color
		font-family 'Jura', sans-serif
		font-weight 600
		display block
		text-align center
		margin-bottom 5px
		span
			background-image -webkit-linear-gradient( 60deg, $clr1 0%, $clr2 100% )
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			color $clr1
		&--white
			color $white
		&--underline
			position relative
			margin-bottom 30px
			&:before
				content ''
				position absolute
				display block
				width 60px
				height 3px
				bottom -20px
				left 50%
				transform translateX(-50%)
				border-radius 3px
				background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		&--margin
			margin-bottom 30px
		&--footer
			font-size 26px
	&__tagline
		display block
		position relative
		text-align center
		font-size 18px
		font-family 'Jura', sans-serif
		font-weight 600
		color $clr1
		margin-bottom 30px
		&:before
			content ''
			position absolute
			display block
			width 60px
			height 3px
			bottom -20px
			left 50%
			transform translateX(-50%)
			border-radius 3px
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		&--white
			color $white
	&__text
		font-size 16px
		font-weight 400
		color $text-color
		line-height 26px
		display block
		text-align center
		position relative
		margin-bottom 30px
		margin-top 20px
		&:before
			content ''
			position absolute
			display block
			width 60px
			height 3px
			bottom -20px
			left 50%
			transform translateX(-50%)
			border-radius 3px
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		&--white
			color $white
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		position relative
		width 180px
		height 50px
		font-size 14px
		font-weight 500
		border-radius 25px
		letter-spacing .4px
		color $white
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		text-transform uppercase
		margin 40px auto 0
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		span
			position relative
			z-index 2
		&:hover
			color $white
			&:before
				opacity 1
		&--white
			background $white
			color $clr1
			&:hover
				background-color $clr1
				color $white
	&__tabs
		display flex
		flex-direction row
		justify-content center
		align-items center
		width auto
		position relative
		margin 0 auto 40px
		background linear-gradient( 90deg, rgba($clr1, .05) 0%, rgba($clr2, .05) 100% )
		border-radius 25px
		li
			display block
			width 100%
			background-color transparent
			&:last-child
				a
					border-right 2px solid $clr1
					border-radius 0 25px 25px 0
			&:first-child
				a
					border-left 2px solid $clr1
					border-radius 25px 0 0 25px
		a
			display flex
			flex-direction row
			justify-content center
			align-items center
			font-size 14px
			text-transform uppercase
			color $text-color
			height 46px
			background-color transparent
			border-top 2px solid $clr1
			border-bottom 2px solid $clr1
			letter-spacing .4px
			&:hover
				color $clr1
			&.active
				color $white
				cursor default
				background-color $clr1
		&--mt
			margin-top 35px
	&--pt0
		padding-top 0
	&--grey
		background linear-gradient( 90deg, rgba($clr1, .05) 0%, rgba($clr2, .05) 100% )
	&--gradient
		background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
	@media (min-width: 768px)
		padding 60px 0
		&__title
			font-size 36px
			&--footer
				font-size 32px
		&__tagline
			font-size 20px
		&__btn
			margin 50px auto 0
		&--pt0
			padding-top 0
	@media (min-width: 1200px)
		padding 80px 0
		&__title
			font-size 42px
			margin-top -10px
			&--margin
				margin-bottom 40px
			&--footer
				font-size 36px
		&__tagline
			font-size 24px
		&__text
			font-size 18px
			line-height 28px
		&__btn
			margin 70px auto 0
		&--pt0
			padding-top 0

/*==============================
	About
==============================*/
.about
	display block
	position relative
	padding 50px 0 80px
	&__text
		display block
		background-color $white
		position relative
		padding 20px
		border-radius 20px
		z-index 4
		p
			font-size 16px
			line-height 24px
			color $text-color
			margin-bottom 20px
			&:last-child
				margin-bottom 0
			b
				font-weight 500
		&:before
		&:after
			content ''
			position absolute
			display block
			opacity .2
			background-image -moz-linear-gradient( -60deg, $clr1 0%, $clr2 100% )
			background-image -webkit-linear-gradient( -60deg, $clr1 0%, $clr2 100% )
			background-image -ms-linear-gradient( -60deg, $clr1 0%, $clr2 100% )
			background-image linear-gradient( -60deg, $clr1 0%, $clr2 100% )
			border-radius 0 0 10px 10px
			transition .4s ease-in-out
		&:before
			z-index 2
			left 20px
			right 20px
			height 10px
			bottom -10px
		&:after
			z-index 1
			left 30px
			right 30px
			height 20px
			bottom -20px
	&--wave
		&:before
			content ''
			position absolute
			left 0
			bottom 0
			display block
			width 100%
			height 362px
			background url('../img/about/wave.png') no-repeat center bottom
	&--angle
		&:before
			content ''
			position absolute
			left 0
			bottom 0
			display block
			width 100%
			height 362px
			background url('../img/about/angle.png') no-repeat center bottom
	&--angle2
		&:before
			content ''
			position absolute
			left 0
			bottom 0
			display block
			width 100%
			height 362px
			background url('../img/about/angle2.png') no-repeat center bottom
	&--arrow
		&:before
			content ''
			position absolute
			left 0
			bottom 0
			display block
			width 100%
			height 362px
			background url('../img/about/arrow.png') no-repeat center bottom
	@media (min-width: 576px)
		&__text
			padding 30px
	@media (min-width: 768px)
		padding 60px 0 120px
		&__text
			padding 40px
	@media (min-width: 1200px)
		padding 75px 0 150px
		&__text
			padding 50px
		&--wave
			&:before
				background-position left bottom

/*==============================
	Info
==============================*/
.info
	&__text
		text-align center
		margin-top 40px
		p
			font-size 16px
			line-height 26px
			color $text-color
			font-weight 400
			margin-bottom 20px
			&:last-child
				margin-bottom 0
		&--white
			p
				color $white
	@media (min-width: 768px)
		&__text
			p
				font-size 18px
				line-height 28px

/*==============================
	Boxes styles
==============================*/
/* box style 1 */
.box1
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	position relative
	background-color $white
	padding 30px
	margin-top 40px
	text-align center
	border-radius 20px
	&:before
	&:after
		content ''
		position absolute
		display block
		opacity .2
		top 100%
		background-color $white
		border-radius 0 0 10px 10px
	&:before
		z-index 2
		left 20px
		right 20px
		height 10px
		bottom -10px
	&:after
		z-index 1
		left 30px
		right 30px
		height 20px
		bottom -20px
	&__icon
		margin-bottom 15px
		img
			width 46px
			height auto
	&__title
		color $title-color
		display block
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin 0
	@media (min-width: 768px)
		min-height 280px
	@media (min-width: 992px)
		min-height 300px
	@media (min-width: 1200px)
		min-height 280px

/* box style 2 */
.box2
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	position relative
	text-align center
	margin-top 40px
	padding 0 20px
	&__icon
		margin-bottom 15px
		img
			width 46px
			height auto
	&__title
		color $title-color
		display block
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin 0
	@media (min-width: 768px)
		padding 0 30px

/* box style 3 */
.box3
	display block
	position relative
	text-align center
	margin-top 40px
	padding 0 20px
	&__icon
		display flex
		flex-direction row
		justify-content center
		align-items center
		margin 0 auto
		width 120px
		height 120px
		margin-bottom 25px
		border 2px dashed rgba($black, .12)
		border-radius 50%
		position relative
		img
			width 46px
			height auto
	&__title
		color $title-color
		display block
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin 0
	@media (min-width: 768px)
		&--line
			&:before
				content ''
				position absolute
				display block
				width 60px
				height 0px
				border 1px dashed rgba($black, .12)
				left 100%
				top 60px
				margin-left -15px
	@media (min-width: 992px)
		&--line
			&:before
				width 100px
				margin-left -35px
	@media (min-width: 1200px)
		&--line
			&:before
				width 140px
				margin-left -55px
		&__text
			padding 0 20px

/* box style 4 */
.box4
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start
	position relative
	margin-top 40px
	padding 0 20px
	&__number
		font-size 46px
		line-height 100%
		font-weight 500
		margin-bottom 15px
		background-image -webkit-linear-gradient( 0deg, $clr1 0%, $clr2 100% )
		-webkit-background-clip text
		-webkit-text-fill-color transparent
		color $clr1
	&__title
		color $title-color
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin-bottom 23px
		font-weight 400
		position relative
		b
			font-weight 500
		a
			color $clr1
			&:hover
				color $clr2
				text-decoration underline
		&:before
			content ''
			position absolute
			display block
			width 50px
			height 3px
			bottom -23px
			left 0
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
			border-radius 3px
	@media (min-width: 576px)
		padding 0
	@media (min-width: 768px)
		&__number
			font-size 54px
		&__text
			&:before
				width 60px

/* box style 5 */
.box5
	display block
	position relative
	margin-top 40px
	padding-left 80px
	&__icon
		display block
		position absolute
		top 0
		left 13px
		img
			width 46px
			height auto
	&__title
		color $title-color
		display block
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin 0
	@media (min-width: 768px)
		padding-left 70px
		padding-right 20px
		&__icon
			left 0

/* box style 6 */
.box6
	display block
	position relative
	margin-top 40px
	padding-left 80px
	&__number
		display block
		position absolute
		top 0
		left 0
		font-size 46px
		line-height 100%
		font-weight 500
		background-image -webkit-linear-gradient( 0deg, $clr1 0%, $clr2 100% )
		-webkit-background-clip text
		-webkit-text-fill-color transparent
		color $clr1
	&__title
		color $title-color
		display block
		font-size 18px
		font-weight 500
		margin-bottom 15px
	&__text
		display block
		color $text-color
		font-size 16px
		line-height 24px
		margin 0 0 23px
		font-weight 400
		position relative
		b
			font-weight 500
		a
			color $clr1
			&:hover
				color $clr2
				text-decoration underline
		&:before
			content ''
			position absolute
			display block
			width 50px
			height 3px
			bottom -23px
			left 0
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
			border-radius 3px
	@media (min-width: 768px)
		padding-left 85px
		&__number
			font-size 54px
		&__text
			&:before
				width 60px

/*==============================
	Offers
==============================*/
.offers
	display block
	position relative
	border 2px solid $clr1
	background linear-gradient( 90deg, rgba($clr1, .05) 0%, rgba($clr2, .05) 100% )
	margin-bottom 20px
	border-radius 20px
	&:before
	&:after
		content ''
		position absolute
		display block
		opacity .2
		background-image linear-gradient( -60deg, $clr1 0%, $clr2 100% )
		border-radius 0 0 10px 10px
		transition .4s ease
	&:before
		z-index 2
		left 20px
		right 20px
		height 10px
		bottom -10px
	&:after
		z-index 1
		left 30px
		right 30px
		height 20px
		bottom -20px
	&__item
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		padding 30px 0
		position relative
		border-bottom 2px solid $clr1
		&:first-child
			border-radius 20px 20px 0 0
		&:last-child
			border-radius 0 0 20px 20px
			border-bottom none
	&__get
		display block
		font-weight 500
		color $title-color
		font-size 20px
		line-height 100%
	&__for
		display block
		font-weight 400
		color $text-color
		font-size 16px
		margin 10px 0
	&__value
		display block
		font-weight 500
		color $title-color
		font-size 32px
		line-height 100%
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		position relative
		width 110px
		height 46px
		font-size 14px
		font-weight 500
		border-radius 23px
		letter-spacing .4px
		color $white
		text-align center
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		text-transform uppercase
		margin-top 30px
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		span
			position relative
			z-index 2
		&:hover
			color $white
			&:before
				opacity 1
	&--single
		margin-top 40px
	@media (min-width: 576px)
		display flex
		flex-direction row
		justify-content flex-start
		align-items flex-start
		flex-wrap wrap
		&__item
			width 50%
			padding 40px 0
			&:first-child
				border-radius 20px 0 0 0
			&:last-child
				border-radius 0 0 20px 0
			&:nth-child(3)
				border-bottom 0
			&:nth-child(2n)
				border-left 1px solid $clr1
			&:nth-child(2n - 1)
				border-right 1px solid $clr1
	@media (min-width: 992px)
		&__item
			width 25%
			padding 50px 0
			border-bottom none
			&:nth-child(2n)
				border-right 1px solid $clr1
			&:nth-child(2n - 1)
				border-left 1px solid $clr1
			&:first-child
				border-radius 20px 0 0 20px
				border-left none
			&:last-child
				border-radius 0 20px 20px 0
				border-right none	

/*==============================
	Forms
==============================*/
.form
	&__input
		display block
		background-color $white
		width 100%
		height 50px
		border 2px solid $clr1
		border-radius 25px
		padding 0 20px
		margin-bottom 20px
		font-size 16px
		color $title-color
		&:focus
			border-color $clr2
	&__textarea
		display block
		background-color $white
		width 100%
		height 140px
		border 2px solid $clr1
		border-radius 25px
		padding 15px 20px
		margin-bottom 20px
		font-size 16px
		color $title-color
		resize none
		&:focus
			border-color $clr2
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		position relative
		width 180px
		height 50px
		font-size 14px
		font-weight 500
		border-radius 25px
		letter-spacing .4px
		color $white
		text-align center
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		text-transform uppercase
		overflow hidden
		margin 0 auto
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		span
			position relative
			z-index 2
		&:hover
			color $white
			&:before
				opacity 1
	&__checkbox
		position relative
		overflow hidden
		width 100%
		text-align left
		margin-bottom 30px
		input
			&:not(:checked)
			&:checked
				position absolute
				left -9999px
			&:not(:checked) + label
			&:checked + label
				font-size 14px
				color $text-color
				font-weight normal
				position relative
				cursor pointer
				padding-left 30px
				line-height 20px
				margin 0
				a
					color $clr1
					&:hover
						color $clr2
			&:not(:checked) + label:before
			&:checked + label:before
				content ''
				display block
				position absolute
				left 0
				top 0
				width 20px
				height 20px
				background-color $white
				border 2px solid $clr1
				border-radius 50%
			&:not(:checked) + label:after
			&:checked + label:after
				content ''
				position absolute
				display block
				left 5px
				top 5px
				width 10px
				height 10px
				text-align center
				transition .4s
				border-radius 50%
				background-color $clr1
				border 2px solid transparent
			&:not(:checked) + label:after
				opacity 0
				transform scale(0)
			&:checked + label:after
				opacity 1
				transform scale(1)
		label
			&::-moz-selection
				background transparent
				color $grey
			&::selection
				background transparent
				color $grey
	&--contacts
		margin-top 40px
		.form__btn
			margin 0
	&--modal
		width 100%
		.form__btn
			width 100%
	@media (min-width: 1200px)
		&--contacts
			margin-top 50px

/*==============================
	Contacts
==============================*/
.contacts
	display block
	margin-top 40px
	&__list
		li
			position relative
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			margin-bottom 20px
			span
				display flex
				flex-direction row
				justify-content center
				align-items center
				width 44px
				height 44px
				border-radius 50%
				background linear-gradient( 90deg, rgba($clr1, 1) 0%, rgba($clr2, 1) 100% )
				margin-right 15px
				svg
					width 24px
					height auto
					stroke $white
					fill $white
			p
				color $title-color
				font-size 16px
				line-height 24px
				margin-bottom 0
			a
				color $title-color
				line-height 24px
				&:hover
					color $clr2
			&:last-child
				margin-bottom 0
	@media (min-width: 768px)
		margin-top 40px
		&__list
			li
				margin-bottom 30px
	@media (min-width: 1200px)
		margin-top 50px

/*==============================
	Video
==============================*/
.video
	display block
	text-align center
	position relative
	&:before
		content ''
		position absolute
		display block
		left 0
		top 0
		right 0
		bottom 0
		z-index 1
		background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		opacity .4
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		position relative
		z-index 2
		border-radius 50%
		width 60px
		height 60px
		background linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		margin 0 auto 10px
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background linear-gradient( 90deg, $clr2 0%, $clr1 100% )
			opacity 0
			z-index 1
			pointer-events none
			transition .4s ease
		svg
			display block
			width 32px
			height auto
			stroke $white
			position relative
			z-index 2
			margin-left 3px
		&:hover
			&:before
				opacity 1
	&__title
		position relative
		z-index 2
		color $white
		font-family 'Jura', sans-serif
		font-weight 600
		font-size 32px
		margin-top 0
		margin-bottom 15px
	&__text
		position relative
		z-index 2
		color $white
		font-weight 400
		margin 0
		font-size 16px
		line-height 24px
	@media (min-width: 768px)
		&__btn
			font-size 62px
		&__title
			font-size 36px
		&__text
			font-size 18px
			line-height 26px

/*==============================
	Partners
==============================*/
.partners
	display block
	position relative
	padding 50px 0
	&__slider
		img
			max-width 100%
			-webkit-filter grayscale(1)
			filter grayscale(1)
			opacity .7
			transition .4s ease
		a
			&:hover
				img
					-webkit-filter grayscale(0)
					filter grayscale(0)
					opacity 1
	@media (min-width: 768px)
		padding 60px 0

/*==============================
	Subscribe
==============================*/
.subscribe
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	position relative
	margin 30px auto 0
	width 100%
	max-width 360px
	background linear-gradient( 90deg, rgba($clr1, .15) 0%, rgba($clr2, .15) 100% )
	border-radius 25px
	overflow hidden
	&__input
		display block
		background rgba($white, .0)
		width 100%
		height 50px
		border none
		border-radius 25px
		padding 0 60px 0 25px
		margin 0
		font-size 16px
		color $white
		font-weight 400
		letter-spacing .2px
		&:focus
			background rgba($white, .03)
	&__btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		position absolute
		right 0
		top 0
		width 60px
		height 50px
		background-color transparent
		border-radius 0 25px 25px 0
		transition .4s ease
		svg
			stroke $white
			width 22px
			height auto
			transition .4s ease
		&:hover
			svg
				stroke $clr2
	::-webkit-input-placeholder
		color rgba($white, .7)
	::-moz-placeholder
		color rgba($white, .7)
	:-moz-placeholder
		color rgba($white, .7)
	:-ms-input-placeholder
		color rgba($white, .7)

/*==============================
	Ticker
==============================*/
.ticker
	display block
	width 100%
	overflow hidden
	padding 30px 0
	position relative
	&__list
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
	&__item
		display flex
		flex-direction column
		justify-content center
		align-items flex-start
		font-size 16px
		line-height 26px
		background-color $white
		padding 0 15px
		margin-right 30px
		min-width 120px
		position relative
		border-radius 16px
		height 110px
		.name
			display block
			color $title-color
			b
				font-weight 500
		.price
			display block
			color $title-color
		.change
			display block
			&--red
				color #F24529
			&--green
				color #229833
		&:before
		&:after
			content ''
			position absolute
			display block
			opacity .2
			background-color $white
			border-radius 16px
		&:before
			z-index -2
			left -5px
			right -5px
			top -5px
			bottom -5px
		&:after
			z-index -1
			left -10px
			right -10px
			top -10px
			bottom -10px

/*==============================
	Team
==============================*/
.team
	display block
	position relative
	margin 40px auto 0
	border-radius 20px
	width 100%
	max-width 400px
	background linear-gradient( 90deg, rgba($clr1, .05) 0%, rgba($clr2, .05) 100% )
	border 2px solid $clr1
	padding-top 50px
	&:before
	&:after
		content ''
		position absolute
		display block
		opacity .2
		background-image linear-gradient( -60deg, $clr1 0%, $clr2 100% )
		border-radius 0 0 10px 10px
		transition .4s ease
	&:before
		z-index 2
		left 20px
		right 20px
		height 10px
		bottom -10px
	&:after
		z-index 1
		left 30px
		right 30px
		height 20px
		bottom -20px
	&__img
		position relative
		width 100%
		height auto
		border-radius 0 0 20px 20px
		pointer-events none
	&__title
		display flex
		flex-direction column
		justify-content center
		align-items center
		position absolute
		height 100px
		width 100%
		top 0
		left 0
		padding 0 15px
		h3
			font-size 18px
			font-weight 500
			color $title-color
			margin-bottom 0
			display block
			text-align center
		span
			font-size 16px
			background-image -webkit-linear-gradient( 0deg, $clr1 0%, $clr2 100% )
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			color $clr1
			display block
			text-align center
			font-family 'Jura', sans-serif
			font-weight 700
	&__social
		display flex
		flex-direction row
		justify-content center
		align-items center
		position absolute
		bottom 0
		left 0
		width 100%
		opacity 0
		transition .4s ease
		li
			display block
			margin-right 20px
			&:last-child
				margin-right 0
		a
			display flex
			flex-direction row
			justify-content center
			align-items center
			width 22px
			height 22px
			color #212121
			background-color transparent
			svg
				width 22px
				height auto
				transition .4s ease
			&.fb
				svg
					stroke #3b5999
					fill #3b5999
			&.inst
				svg
					stroke #d43f81
					fill #d43f81
			&.tw
				svg
					stroke #1da1f2
					fill #1da1f2
			&.vk
				svg
					stroke #45668e
					fill #45668e
			&.ld
				svg
					stroke #0073b0
					fill #0073b0
			&:hover
				svg
					fill $clr2
	&:hover
		.team__social
			bottom 20px
			opacity 1
	@media (min-width: 576px)
		padding-top 60px
	@media (min-width: 768px)
		padding-top 50px
		&__img
			padding 0 20px

/*==============================
	FAQ
==============================*/
.accordion
	margin-top 10px

.faq
	background-color $white
	border-radius 20px
	padding 0 20px
	margin-top 30px
	border 2px solid $clr1
	&__btn
		button
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			position relative
			width 100%
			color $title-color
			font-size 16px
			padding 13px 0
			transition .4s ease
			text-align left
			span
				display block
				width calc(100% - 30px)
			svg
				width 24px
				height auto
				fill $clr1
				stroke $clr1
				z-index 1
				pointer-events none
				transform rotate(0deg)
				transition .4s ease
				margin-right -5px
			&[aria-expanded="true"]
				svg
					transform rotate(180deg)
					fill $clr2
					stroke $clr2
			&:hover
				color $clr1
	&__text
		color $text-color
		font-size 16px
		line-height 26px
		padding-bottom 20px
		margin-bottom 0
	@media (min-width: 768px)
		padding 0 30px
		&__btn
			button
				padding 0
				height 60px
		&__text
			padding-bottom 30px
	@media (min-width: 1200px)
		&__btn
			button
				font-size 18px
	
/*==============================
	Counter
==============================*/
.counter
	display block
	position relative
	padding 25px 0
	&:before
		content ''
		position absolute
		display block
		left 0
		top 0
		right 0
		bottom 0
		z-index 1
		background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		opacity .4
	&__box
		display block
		text-align center
		position relative
		z-index 2
		margin 25px 0
	&__value
		display block
		color $white
		font-family 'Jura', sans-serif
		font-weight 600
		font-size 42px
		line-height 100%
		margin-bottom 8px
	&__title
		display block
		color $white
		font-weight 400
		font-size 14px
		text-transform uppercase
	@media (min-width: 768px)
		padding 60px 0
		&__box
			margin 0
		&__value
			font-size 46px
		&__title
			font-size 16px
	@media (min-width: 1200px)
		padding 80px 0
		&__value
			font-size 54px
			margin-bottom 10px

/*==============================
	Article
==============================*/
.article
	display block
	position relative
	background-color $white
	margin 40px auto 0
	border-radius 20px
	width 100%
	max-width 400px
	&:before
	&:after
		content ''
		position absolute
		display block
		opacity .2
		background-image linear-gradient( -60deg, $clr1 0%, $clr2 100% )
		border-radius 0 0 10px 10px
		transition .4s ease
	&:before
		z-index 2
		left 20px
		right 20px
		height 10px
		bottom -10px
	&:after
		z-index 1
		left 30px
		right 30px
		height 20px
		bottom -20px
	&__img
		position relative
		display block
		overflow hidden
		border-radius 20px 20px 0 0
		margin 0
		&:before
			content ''
			position absolute
			display block
			left 10px
			top 10px
			right 10px
			bottom 10px
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
			opacity 0
			z-index 1
			transition .4s ease
			pointer-events none
			border-radius 20px 20px 0 0
		&:after
			content '...'
			position absolute
			display flex
			flex-direction row
			justify-content center
			align-items center
			top 0
			left 0
			right 0
			bottom 0
			font-family 'Jura', sans-serif
			font-weight 600
			color $white
			font-size 32px
			opacity 0
			z-index 2
			transition .4s ease
			pointer-events none
			border-radius 20px 20px 0 0
		img
			width 100%
		&:hover
			&:before
				left 0
				top 0
				right 0
				bottom 0
				opacity .4
			&:after
				opacity 1
	&__header
		display block
		padding 15px 20px 10px
	&__title
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		margin-bottom 0
		font-size 18px
		font-weight 500
		line-height 150%
		a
			color $title-color
			&:hover
				color $clr1
		span
			font-size 12px
			color rgba($text-color, .6)
			font-weight 400
	&__content
		display block
		padding 0 20px 20px
		p
			margin-bottom 0
			font-size 16px
			line-height 26px
			color $text-color
			b
				font-weight 500
	@media (min-width: 768px)
		&__header
			padding 20px 20px 15px

/*==============================
	Roadmap
==============================*/
.roadmap
	display block
	margin-top 40px
	position relative
	padding 25px 0
	&:before
		content ''
		position absolute
		display block
		width 4px
		height 100%
		top 0
		bottom 0
		left 10px
		border-radius 4px
		background-image linear-gradient( 180deg, $clr1 0%, $clr2 100% )
	li
		display block
		position relative
		margin-bottom 20px
		padding-left 40px
		span
			font-size 16px
			color $title-color
			line-height 24px
			font-weight 500
			display block
			margin-bottom 5px
		p
			font-size 16px
			color $text-color
			line-height 24px
			margin-bottom 0
		&:before
		&:after
			content ''
			position absolute
			display block
			border-radius 50%
		&:before
			width 24px
			height 24px
			left 0
			top 1px
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
			opacity .37
			z-index 1
		&:after
			width 16px
			height 16px
			left 4px
			top 5px
			background-color $white
			z-index 2
		&.active
			&:after
				background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		&:last-child
			margin-bottom 0
	@media (min-width: 768px)
		padding 35px 0
		margin-top 50px
		li
			margin-bottom 35px
			span
				font-size 18px
				margin-bottom 10px
	@media (min-width: 1200px)
		display flex
		flex-direction row
		justify-content center
		align-items flex-start
		padding 0
		margin-top 70px
		width 100%
		&:before
			width auto
			height 4px
			top 52px
			left 0
			right 0
			background-image linear-gradient( 90deg, $clr1 0%, $clr2 100% )
		li
			display block
			max-width 210px
			padding-left 0
			margin 0 15px
			span
				margin-bottom 60px
			&:before
				top 42px
			&:after
				top 46px

/*==============================
	Footer
==============================*/
.footer
	display block
	padding 50px 0
	background-color #212121
	&__social
		display flex
		flex-direction row
		justify-content center
		align-items center
		margin-top 50px
		position relative
		li
			display block
			margin-right 25px
			&:last-child
				margin-right 0
		a
			display flex
			flex-direction row
			justify-content center
			align-items center
			width 22px
			height 22px
			color #212121
			background-color transparent
			svg
				width 22px
				height auto
				transition .4s ease
			&.fb
				svg
					stroke #3b5999
					fill #3b5999
			&.inst
				svg
					stroke #d43f81
					fill #d43f81
			&.tw
				svg
					stroke #1da1f2
					fill #1da1f2
			&.vk
				svg
					stroke #45668e
					fill #45668e
			&.ld
				svg
					stroke #0073b0
					fill #0073b0
			&:hover
				svg
					fill $clr2
	&__copyright
		font-size 14px
		color $white
		display block
		text-align center
		margin-top 30px
		font-weight 400
		letter-spacing .2px
		a
			color $white
			text-decoration none
			&:hover
				color $clr2
	@media (min-width: 768px)
		padding 60px 0 50px
		&__social
			margin-top 60px
	@media (min-width: 1200px)
		padding 80px 0 50px
		&__social
			margin-top 80px

/*==============================
	Modal
==============================*/
.modal
	position relative
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	margin 40px auto
	background-color $white
	border-radius 20px
	padding 30px 20px
	width 100%
	max-width 420px
	&--article
		max-width 800px
	&__title
		font-size 32px
		color $title-color
		font-family 'Jura', sans-serif
		font-weight 600
		line-height 100%
		display block
		margin-top 0
		margin-bottom 30px
		text-align center
		width 100%
	&__text
		text-align center
		margin-top 30px
		font-size 16px
		line-height 26px
		color $text-color
		a
			position relative
			color $clr1
			&:hover
				color $clr2
				text-decoration underline
	&__article
		h1
		h2
		h3
		h4
		h5
		h6
			color $title-color
			font-weight 500
			margin-bottom 15px
			&:last-child
				margin-bottom 0
		h1
			font-size 30px
		h2
			font-size 26px
		h3
			font-size 22px
		h4
			font-size 20px
		h5
			font-size 18px
		h6
			font-size 16px
		img
			width 100%
			height auto
			margin-bottom 20px
			border-radius 20px
			&:last-child
				margin-bottom 0
		p
			display block
			font-size 16px
			line-height 26px
			font-weight 400
			color $text-color
			margin-bottom 20px
			b
				font-weight 500
			a
				color $clr1
				text-decoration underline
				&:hover
				&:focus
					color $clr2
					text-decoration none
			&:last-child
				margin-bottom 0
		blockquote
			display block
			position relative
			padding 0 0 0 20px
			font-size 16px
			line-height 26px
			color $title-color
			font-weight 400
			margin-bottom 20px
			&:before
				content ''
				position absolute
				display block
				left 0
				top 4px
				bottom 5px
				width 3px
				background-image linear-gradient( 0deg, $clr1 0%, $clr2 100% )
				border-radius 3px
			&:last-child
				margin-bottom 0
		ul
			margin-bottom 20px
			padding-left 20px
			display block
			list-style circle
			li
				font-size 16px
				line-height 26px
				font-weight 400
				color $text-color
				padding-left 5px
			&:last-child
				margin-bottom 0
		ol
			padding-left 0
			list-style none
			counter-reset li
			margin-bottom 20px
			ol
				padding-left 15px
				margin-bottom 0
				margin-top 20px
				li
					margin-top 0
				ol
					margin-top 20px
					margin-bottom 0
			li
				font-size 16px
				line-height 26px
				color $text-color
				position relative
				margin-top 20px
				b
					font-weight 500
					color $text-color
				a
					color $clr1
					&:hover
						color $clr2
						text-decoration underline
				&:last-child
					margin-bottom 0
				&:before
					counter-increment li
					content counters(li,".") ". "
			&:last-child
				margin-bottom 0
	@media (min-width: 768px)
		padding 40px 60px
		&__title
			margin-bottom 40px

/* custom close btn for modal */
.mfp-image-holder .mfp-close
.mfp-iframe-holder .mfp-close
	right 0
	opacity 1
	width 30px
	height 40px
	padding-right 0
	&:hover
		color $clr2

.mfp-bg
	background transparent
	background-color rgba($black, .5)
	background-image linear-gradient( 90deg, rgba($clr1, .25) 0%, rgba($clr2, .25) 100% )
	opacity 1

.mfp-iframe-scaler
	border-radius 20px
	iframe
		box-shadow none
		border-radius 20px

.my-mfp-zoom-in.mfp-ready.mfp-bg
	opacity .8

.my-mfp-zoom-in .zoom-anim-dialog
	opacity 0
	transition all .4s ease-in-out
	transform scale(0.8)

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
	opacity 1
	transform scale(1)

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
	transform scale(0.8)
	opacity 0

.my-mfp-zoom-in.mfp-bg
	opacity 0
	transition opacity .4s ease-out

.my-mfp-zoom-in.mfp-ready.mfp-bg
	opacity .8

.my-mfp-zoom-in.mfp-removing.mfp-bg
	opacity 0

.mfp-fade.mfp-bg
	opacity 0
	transition all .4s ease-in-out

.mfp-fade.mfp-bg.mfp-ready
	opacity .8

.mfp-fade.mfp-bg.mfp-removing
	opacity 0

.mfp-fade.mfp-wrap .mfp-content
	opacity 0
	transition all .34s ease-in-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
	opacity 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
	opacity 0